*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html{
    height: 100%;
}
body{
    border: 2px solid black;
    width: 1248px;
    font-family: 'Prata', serif;
}
.navi{
   background-image: linear-gradient(#0077b6,rgb(255, 255, 255,0.2));
   height: 60px;
   width: 1270px;
   list-style-type: none;
   justify-content: center;
   position: fixed;
   z-index: 2;
   top: 0;
   left: 0;
   right: 0; 
   text-align: center;
   border: none;
}
.navi li a{
    text-decoration: none;
    color: #03045e;
    padding-top: -200px;

}
.navi li{
    display: inline-block;
    padding: 10px 40px;
    font-size: 22px;
    justify-content: center;
    margin: 0 15px;
    font-weight: 900;

}
/* height:555px- for web page height */
.con1{
    /* border: 2px solid black; */
    height: 100vh;
    width: 1290px;
    margin-top: 50px;
    /* background-image: linear-gradient(to bottom right, rgb(202, 240, 248), rgb(255, 255, 255)); */
}

#hello{
    height: 100vh;
    width: 1260px;
    text-align: left;
    top: -20px;
    color: #03375e;
}
.my-name{
    position: relative;
    top: 150px;
    margin: 10px;
    padding: 30px;
    font-size: 20px;
    font-family: 'Pacifico', cursive;

}
.name{
    position: relative;
    top: 100px;
    margin: 10px;
    padding: 30px;
    font-size: 70px;
}
.position{
    position: relative;
    top: 40px;
    margin: 10px;
    padding: 30px;
    font-size: 30px;   
}
.profile-pic{
    position: relative;
    top: 110px;
    width: 100%;
    border-radius: 50%;
    z-index: 1;
}
.circle1{
    position: relative;
    top: -550px;
    border-radius: 50%;
    background-image: linear-gradient(#caf0f8,rgb(255, 255, 255));
    border: #65bae8;
    height: 575px;
     width: 575px;
     z-index: -1;
     /* right: -170px; */
}
.circle2{
    position: relative;
    top: 20px;
    width: 100%;
    border-radius: 50%;
    border: #0077b6;
    height: 75px;
     width: 75px;
     z-index: -1;
}
/* about */
.con2{
    height: 90vh;
    width: 1290px;
    margin-top: 50px;
}
.ski{
    background-image: linear-gradient(#caf0f8,rgb(255, 255, 255));
    top: 50px;
    display: inline-block;

}
/* about heading */
.about-h2{
    position: relative;
    top: 50px;
    font-size: 40px;   
    padding: 0 0 0 40px; 
}
 #about{
    border: 2px solid black;
    height: 100vh;
    width: 1260px;
    text-align: left;
    top: -20px;
    color: #03375e;
}
.about-p{
    position: relative;
    top: 50px;
    margin: 10px;
    padding: 30px;
    font-size: 20px; 
    text-align: justify;  
}
.skills-h3{
    position: relative;
    top: 0;
    margin: 30px 10px 10px 10px ;
    font-size: 20px; 
    text-align: left;}
/* 
.ski-set{
        margin:40px 50px;
} */
/* figma */
.figma{
    /* margin: 0 100px; */
    position: relative;
    width: 70%;
    left: 15%;
    top: 10%;
    /* border: 2px solid black;  */
    justify-content: center;
}
.figma-img{
    width: 5%;
    margin-left:30px;
    margin-right: 35px;
    float: left;
}
.f-p{
    position: relative;
    font-size: 20px; 
    text-align: left;
}
/* xd */
.xd{
    position: relative;
    width: 70%;
    left: 15%;
    top: 10%;
    /* border: 2px solid black;  */
}
.xd-img{
    width: 8%;
    margin-left:30px;
    margin-right: 25px;
    float: left;
}
.xd-p{
    position: relative;
    font-size: 20px; 
    text-align: left;
}
/* photoshop */
.photoshop{
    position: relative;
    width: 70%;
    left: 15%;
    top: 10%;
    /* border: 2px solid black;  */
}
.photoshop-img{
    width: 8%;
    margin-left:30px;
    margin-right: 25px;
    float: left;
}
.p-p{
    position: relative;
    font-size: 20px; 
    text-align: left;
}
/* html */
.html{
    position: relative;
    width: 70%;
    left: 15%;
    top: 10%;
    /* border: 2px solid black;  */
}
.html-img{
    width: 7%;
    margin: 0 30px;
    float: left;
}
.h-p{
    position: relative;
    font-size: 20px; 
    text-align: left;
}
/* CSS */
.css{
    position: relative;
    width: 70%;
    left: 15%;
    top: 10%;
    /* border: 2px solid black;  */
}
.css-img{
    width: 7%;
    margin: 0 30px;
    float: left;
}
.c-p{
    position: relative;
    font-size: 20px; 
    text-align: left;
}

/* Projects */
.con3{
    height: 90vh;
    width: 1290px;
    margin-top: 50px;
}
/* contact */
.con4{
    height: 90vh;
    width: 1290px;
    margin-top: 50px;
}